<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>avatar</key>
		<string>https://upload.jianshu.io/users/upload_avatars/17598126/1c2183f2-c088-4b31-b060-7e5048447426</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>avatar</key>
		<string>https://images.pexels.com/photos/4842558/pexels-photo-4842558.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
	</dict>
    <dict>
        <key>name</key>
        <string>3</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/6533878/pexels-photo-6533878.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>4</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4842558/pexels-photo-4842558.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>5</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/7464011/pexels-photo-7464011.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>6</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/7361052/pexels-photo-7361052.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>7</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/6533878/pexels-photo-6533878.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>8</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/7464011/pexels-photo-7464011.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>9</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/7185858/pexels-photo-7185858.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>10</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/7361052/pexels-photo-7361052.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>11</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4846455/pexels-photo-4846455.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>12</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/6399488/pexels-photo-6399488.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>13</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/7185858/pexels-photo-7185858.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>14</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4846455/pexels-photo-4846455.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>15</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/6399488/pexels-photo-6399488.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500</string>
    </dict>
    <dict>
        <key>name</key>
        <string>16</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4637612/pexels-photo-4637612.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260</string>
    </dict>
    <dict>
        <key>name</key>
        <string>17</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4048686/pexels-photo-4048686.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=800</string>
    </dict>
    <dict>
        <key>name</key>
        <string>18</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4041361/pexels-photo-4041361.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260</string>
    </dict>
    <dict>
        <key>name</key>
        <string>19</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4637612/pexels-photo-4637612.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260</string>
    </dict>
    <dict>
        <key>name</key>
        <string>20</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4048686/pexels-photo-4048686.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=800</string>
    </dict>
    <dict>
        <key>name</key>
        <string>21</string>
        <key>avatar</key>
        <string>https://images.pexels.com/photos/4041361/pexels-photo-4041361.jpeg</string>
    </dict>
</array>
</plist>
